# Since all of my classess will start with mech, ignore those
mech*

# Ignore all xls files
*.xls

# Ignore all csv files
*.csv

# Ignore all test files
test*

# Ignore grader assignment files
assignGraders.m
graderAssign.txt
